<div class="widget-box">
  <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
    <h2>Batch table</h2>
  </div>
  <div class="widget-content nopadding">
    <table  id="batch" class="table table-bordered data-table">
      <thead>
        <tr>
          <th>Batch</th>
          <th>Project Name</th>
          <th>Course Name</th>
          <th>Team Members</th>
          <th>Platform</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i<results.length;i++){ %>
          <tr>
            <td>
              <a href="students/<%= results[i].reg %>">
              <%=results[i].session%>
              </a>
            </td>
            <td>
              <a href="students/<%= results[i].reg %>">
              <%= results[i].name %>
              </a>
            </td>
            <td>
              <a href="students/<%= results[i].reg %>">
              <%= results[i].name %>
              </a>
            </td>
            <td>
              <a href="students/<%= results[i].reg %>">
                <%= results[i].reg %>
              </a>
            </td>

            <td>
              <a href="students/<%= results[i].reg %>">
              <%= results[i].name %>
              </a>
            </td>
          </tr>

          <%}%>
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#batch').DataTable();
} );
</script>
<ul class="typeahead dropdown-menu"></ul>
