<div class="widget-box">
  <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
    <h2>Subject table</h2>
  </div>
  <div class="widget-content nopadding">
    <table id="table" class="display" >
      <thead>
        <tr>
          <th>Batch</th>
          <th>Course Name</th>
          <th>Project Title</th>
          <th>Team Members</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i<results.length;i++){ %>
          <tr>
            <td>
              <a href="/projects/<%= results[i]._id %>">
              <%=results[i].batch%>
              </a>
            </td>
            <td>
                <a href="/projects/<%= results[i]._id %>">
              <%= results[i].coursename %>
              </a>
            </td>
            <td>
                <a href="/projects/<%= results[i]._id %>">
              <%= results[i].title %>
              </a>
            </td>
            <td>
              <a href="/projects/<%= results[i]._id %>">
                <%= results[i].teammembers %>
              </a>
            </td>

            <td>
                <a href="/projects/<%= results[i]._id %>">
              <%= results[i].tags %>
              </a>
            </td>
          </tr>

          <%}%>
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#table').DataTable();
} );
</script>