<!DOCTYPE html>
<html lang="en">

<%include header.ejs%>
<body id="page1">
  <div class="wrap">
    <%include topnav.ejs%>
    <div class="container">
      <%include partials/leftsidebar.ejs%>
      <div class="multiple-borders">
        <%if(results[0].propic){%>
          <img src="profile/<%=results[0].propic%>" />
          <%} else {%>
            <img src="img/avatar.jpg%>" />

            <%}%>
      </div>
      <section id="content">
        <div id="basicpostion">
          <h3  id="basic">Basic Information</h3>
        </div>


        <table class="blueTable">

          <tbody>

            <tr>
              <td>Name :</td>
              <td>
                <%=results[0].name%>
              </td>
            </tr>
            <tr>
              <td>Registration Number:</td>
              <td>
                <%=results[0].reg%>
              </td>
            </tr>
            <tr>
              <td>Email :</td>
              <td>
                <%=results[0].email%>
              </td>
            </tr>
            <tr>
              <td>Git :</td>
              <td>
                <a href="https://github.com/<%=results[0].git%>">
                  <%=results[0].git%>
                </a>
              </td>
            </tr>
            <tr>
              <td>LinkedIn :</td>
              <td>
                <a href="http://www.linkedin.com">
                  <%=results[0].linkedin%>
                </a>
              </td>
            </tr>

          </tbody>
        </table>

      </section>
    </div>
    <%include footer.ejs%>
  </div>
</body>

</html>
