<!DOCTYPE html>
<html lang="en">

<head>
  <title>AddTeacher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <!-- Website CSS style -->

  <style>
    .cropit-preview {
      background-color: #f8f8f8;
      background-size: cover;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 7px;
      width: 250px;
      height: 250px;

    }

    .cropit-preview-image-container {
      cursor: move;
    }

    .image-size-label {
      margin-top: 10px;
    }


    element.style {
      transform-origin: left top 0px;
      will-change: transform;
      transform: translate(0px, 0px) scale(1) rotate(0deg);
    }

    input,
    .export {
      display: block;
    }

    button {
      margin-top: 10px;
    }
  </style>


  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">

  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/addpic.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/main.css" type="text/css" media="all">

  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/jquery.cropit.js"></script>
  <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="js/jquery.cropit.js"></script>



</head>

<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>
    <div class="container">
      <% include partials/leftsidebar.ejs%>
      <form action="/teachers/update/<%=results[0]._id%>" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <section id="addContent">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h3>Teacher-info</h3>
            </div>
            <div class="widget-content nopadding">

              <div class="control-group">
                <label class="control-label">Full Name :</label>
                <div class="controls">
                  <input required type="text" name="name" class="span3" value="<%=results[0].name%>" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Designation :</label>
                <div class="controls">
                  <input required type="text" name="designation" class="span3" value="<%=results[0].designation%>" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Email :</label>
                <div class="controls">
                  <input required type="email" name="email" class="span3" value="<%=results[0].email%>" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Contact Number :</label>
                <div class="controls">
                  <input required type="text" name="contactno" class="span3" value="<%=results[0].contactno%>" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Room No. :</label>
                <div class="controls">
                  <input required type="text" name="roomno" class="span3" value="<%=results[0].roomno%>" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Official Details Link :</label>
                <div class="controls">
                  <input required type="text" name="details" class="span3" value="<%=results[0].details%>" />
                </div>
              </div>



              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>



            </div>
          </div>

        </section>
        <section id="addPic">
          <div class="image-editor">

            <div class="cropit-preview"></div>
            <!-- <div class="image-size-label">
            Resize image
          </div> -->
            <!-- <input type="range" class="cropit-image-zoom-input"> -->
            <h4>pixels 600*400 recommended</h4>

            <input name="propic"  type="file" class="cropit-image-input" required>
            <!--
          <button class="rotate-ccw">Rotate counterclockwise</button>
          <button class="rotate-cw">Rotate clockwise</button> -->

          </div>

        </section>
      </form>

    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>

  <script>
  /*add pic script*/
    $(function() {
      $('.image-editor').cropit({
        imageState: {
          src: 'img/2.jpg',
        },
      });
      $('.rotate-cw').click(function() {
        $('.image-editor').cropit('rotateCW');
      });
      $('.rotate-ccw').click(function() {
        $('.image-editor').cropit('rotateCCW');
      });
      $('.export').click(function() {
        var imageData = $('.image-editor').cropit('export');
        window.open(imageData);
      });
    });
  </script>

  <script>
    $(function() {
      $('.image-editor').cropit({
        imageState: {
          src: 'http://lorempixel.com/500/400/',
        },
      });
      $('.rotate-cw').click(function() {
        $('.image-editor').cropit('rotateCW');
      });
      $('.rotate-ccw').click(function() {
        $('.image-editor').cropit('rotateCCW');
      });
      $('.export').click(function() {
        var imageData = $('.image-editor').cropit('export');
        window.open(imageData);
      });
    });
  </script>


  <!-- END PAGE SOURCE -->
</body>

</html>
