<!DOCTYPE html>
<html lang="en">

<head>
  <title>Info</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">



  <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="js/modernizr.min.js"></script>
  <script type="text/javascript" src="teachergrid/js/index.js"></script>

  <link rel="stylesheet" href="teachergrid/css/style.css">
  <style media="screen">
    #teacherpropic {
      width: 400px;
      height: 200px;
      background-repeat: no-repeat, repeat;
      background-blend-mode: lighten;
    }
  </style>

</head>

<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>


    <div class="container">


      <div id="basicpostion">
        <h3>Our Honourable Teachers</h3>
      </div>
      <div class="cards">
        <%if(results.length>0){%>
          <%for(var i=0;i<results.length;i++){%>


            <div class="card">
              <img href="<%=results[i]._id%>" id="teacherpropic" src="/teacher/<%=results[i].propic%>">
              <div class="card-title">
                <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
                <h2>
          <%=results[i].name%>
          <small><%=results[i].designation%></small>
      </h2>
              </div>
              <div class="card-flap flap1">
                <div class="card-description">
                  Email:
                  <%=results[i].email%>

                </div>
                <div class="card-flap flap2">
                  <div class="card-actions">
                    <a class="btn"  href="<%=results[i]._id%>" >Read more</a>
                  </div>
                </div>
              </div>
            </div>


            <%}%>
              <%}%>
      </div>


    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>

  <!-- END PAGE SOURCE -->
</body>

</html>
