<!DOCTYPE html>
<html lang="en">

<head>
  <title>Info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/students.css" type="text/css" media="all">

  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>
    <div class="container">
      <% include partials/leftsidebar.ejs%>
      <div class="multiple-borders">
        <%if(results[0].propic){

          %>
          <img src="teacher/<%=results[0].propic%>" />
          <%} else {%>
            <img src="img/avatar.jpg%>" />

            <%}%>
      </div>
      <section id="content">
        <div id="basicpostion">
          <h3>Teacher info</h3>
        </div>


        <table class="blueTable">

          <tbody>

            <tr>
              <td>Name :</td>
              <td>
                <%=results[0].name%>
              </td>
            </tr>
            <tr>
              <td>Design. :</td>
              <td>
                <%=results[0].designation%>
              </td>
            </tr>
            <tr>
              <td>Email :</td>
              <td>
                <%=results[0].email%>
              </td>
            </tr>
            <tr>
              <td>Contact :</td>
              <td>
                <%=results[0].contactno%>
              </td>
            </tr>
            <tr>
              <td>Room No :</td>
              <td>
                <%=results[0].roomno%>
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <input class="btn btn-success" type="button" value="More Info" onclick="window.open('<%=results[0].details%>')" />
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a class="btn btn-xs btn-warning btn-edit" href="/teachers/edit/<%=results[0]._id %>">Edit</a>
                <a class="btn btn-xs btn-danger btn-delete" href="/teachers/delete/<%=results[0]._id %>">Delete</a>
                <!-- <input onclick='/teachers/edit/<%results[0]._id%>' class="btn btn-warning" type="button" value="Edit" />
                <input href='/teachers/delete/<%results[0]._id%>' class="btn btn-danger" type="button" value="Delete" /> -->
              </td>
            </tr>



          </tbody>
        </table>

      </section>
      <!-- <div class="container">
        <button class="button button2">More Info</button>
        <button class="btn btn-warning">Edit</button>
        <button class="btn btn-warning">Delete</button>
      </div> -->

    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>


  <!-- END PAGE SOURCE -->
</body>

</html>
