<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/students.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/project.css" type="text/css" media="all">

  <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

  <style media="screen">
    section#left {
      width: 75%;
    }

    h2 {
      text-transform: inherit;
    }

    h1 {
      text-indent: 0px;
    }

    div#supervisor {
      margin-top: -40px;
    }

    table:odd{
      table-layout: fixed;
      width: 200px;
    }

    th
    td{
      border: 1px solid black;
      width: 100px;
    }
  </style>
</head>
<%include partials/loginModel.ejs%>
<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <header>
      <div class="container">
        <h1><a href="/"></a></h1>
        <nav>
          <ul>
            <li><a href="/index" class="m1">Home Page</a></li>
            <li><a href="/subjects" class="m2">Subjects</a></li>
            <li><a href="/batches" class="m3">Batches</a></li>
            <li class="current"><a href="/projects" class="m4">Projects</a></li>
            <li class="last"><a href="/contact" class="m5">Contact Us</a></li>
          </ul>
        </nav>

      
      </div>
    </header>
    <div class="container">
      <section>
        <div class="col-md-2">

        </div>
        <div class="col-md-10">

          <table class="blueTable">

            <tbody>

              <tr>
                <td>Project Title :</td>
                <td>
                  <%=results[0].title%>
                </td>
              </tr>
              <tr>
                <td>Batch:</td>
                <td>
                  <%=results[0].batch%>
                </td>
              </tr>
              <tr>
                <td>Course Name:</td>
                <td>
                  <%=results[0].coursename%>
                </td>
              </tr>
              <tr>
                <td>Project Link:</td>
                <td>
                  <a href="<%= results[0].link %>">
                    <%=results[0].link%>
                  </a>

                </td>
              </tr>
              <tr>
                <td>Tags:</td>

                <td>
                  <%results[0].tags.forEach(function(tag){%>
                    <a href="tags/<%=tag%>">
                      <%=tag%>
                    </a>
                    <%  });%>
                </td>

              </tr>


            </tbody>
          </table>

        </div>
      </section>
      <section id="left">
        <section class="team">
          <div class="">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12">
                  <h6 class="description">TEAM Members</h6>
                  <div class="row pt-md">
                    <%
                    for(var i=0;i<results[0].teammembers.length;i++){
                      if(members[i]){
                    %>
                      <a href="/students/<%=members[i].reg%>">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                          <div class="img-box">
                            <img src="profile/<%=members[i].propic%>" class="img-responsive">
                          </div>
                          <h1><%=members[i].reg%></h1>

                        </div>
                      </a>
                      <%} else{%>
                        <a href="/adduser">
                          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                              <img src="img/avatar.jpg" class="img-responsive">
                            </div>
                            <h1><%=results[0].teammembers[i]%></h1>

                          </div>
                        </a>

                        <%}}%>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="supervisor">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-lg-12">
                <h6 class="description">Supervisor</h6>
                <div class="row pt-md">

                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                    <div class="img-box">
                      <img src="teacher/<%=supervisor.propic%>" class="img-responsive">
                    </div>
                    <h1><%=supervisor.name%></h1>

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>
  <!-- END PAGE SOURCE -->
</body>

</html>
